body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  height: 40px;
  padding-right: 10px;
}

.icon {
  margin-left: 5px;
}

.btc {
  font-size: 22px;
}

.eth {
  font-size: 25px;
}

.xmr {
  font-size: 20px;
}

.settings {
  font-size: 20px;
}

.github {
  font-size: 22px;
}